body{
	font-family: Arial, Helvetica, sans-serif
}
.head{
    margin-left: 5px;
    background-color: skyblue;
    line-height: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    width: 800px;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-block-end: 5px;
}
.container{
    margin-left: 5px;
    border: 1px solid slategray;

}
.col-sm-4{
    border: 1px solid slategray;
    background-color:#D2CFCF;
}
.datosp{
    font-family: fantasy;
    font-weight: 400;
    font-size: 30px;
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}